body {
    background-color: #ffb6dd;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #ffffff;
    text-align: center;
    background-image: url('imagens/istockphoto-1326466266-612x612.jpg');
    background-repeat: repeat;
    background-size:60px 60px cover;
    background-position: 100% 
    padding: 20px;
    margin: 0;
}

h1 {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;

@media (max-width: 600px) {
    body {
        padding: 5px;
        font-size: 1em;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
        padding: 5px;
    }
    img {
        max-width: 95vw;
        height: auto;
        margin: 5px 0;
        border-radius: 10px;
    }


}
