body {
    background-color: #ff008c;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #ffffff;
    text-align: center;
    background-image: url(imagens/istockphoto-1326466266-612x612.jpg);
    background-size: 60px 60px;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}